<div class="center jumbotron">
  <h2>Welcome to Blog!</h2>
  <%= link_to "Register!", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Log in", '#', class: "btn btn-lg btn-primary" %>
</div>
